body {
    padding-bottom: 50px;
}

main{
    width: 70%;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    gap: 25px;
}

.areaLivros{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 40px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.livro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.textoLivro{
    height: 60px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textoLivro h2 {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textoLivro p {
    font-size: 14px;
    width: 100%;
    padding-bottom: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.areaEstrelas{
    display: flex;
    width: 80%;
    padding-top: 5px;
    align-items: center;
}

.areaEstrelas img{
    width: 20%;
    height : 35px;
}

.areaEstrelas p {
    margin-right: 5px;
    font-weight: 600;
}

.areaBotao{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

section button{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 165px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: var(--royal-blue);
    color: white;
    cursor: pointer;
}

.areaComentarios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    flex-wrap: wrap;
    gap: 20px;
}

.comentario{
    width: 100%;
    display: flex;
    padding: 30px;
    align-items: center;
    box-shadow: 4px 4px 4px 0px #AB9E9E;
    gap: 15px;
    border-radius: 8px;
}

.comentario div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.areaEstrelasComentario {
    margin: 0 0 0 10px;
}

.areaEstrelasComentario p {
    font-size: 16px;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 15px;   
}

.capaDoLivro{
    width: 112px;
}

.capaDoLivro img{
    width: 100%;
    height: 100%;
}

.fotoDePerfil img{
    width: 35px;
    border-radius: 100%;
}