body{
    width: 100%;
    min-height: 100vh; 
    background-image: url(../img/entrar.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

main{
    background-color: white;
    width: 100%;
    max-width: 400px;    
    padding: 42px 55px; 
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; 
}

.txtIntroducao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: 1%;
}

.adorno{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

h1{
    color: var(--deepNavyBlue);
    font-size: 15px;
    text-align: center;
}

h2, span{
    color: #8495AF;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

a{
    text-decoration: none; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600; 
    width: 80%; 
    padding: 2%; 
}

#cardHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cardLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#line_start_arrow_notch{
    font-size: 40px;
    align-self: flex-start;
    color: var(--deepNavyBlue);
}
#btnEntrar{
    background-color: var(--deepNavyBlue);
    color: var(--white);
    border-radius: 5px;
    width: 80%;
    border: none;
    height: 20%;
    cursor: pointer;
    font-size: 16px;
    padding: 2%;
    margin-top: 12px;
}

form #btnEntrar{
    background-color: var(--deepNavyBlue);
    color: var(--white);
    border-radius: 5px;
    width: 80%;
    border: none;
    height: 20%;
    cursor: pointer;
    font-size: 16px;
    padding: 2%;
    margin-top: 12px;
    margin-bottom: 12px;
}
.tracado{
    background-color: var(--deepNavyBlue);
    height: 1px;
    flex: 1;
}

.opcoesEntrar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 2%;
}

.botoesSocial {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}

button{
    border-radius: 50%;
    background-color: white;
    border: #B3AFAF solid 1px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* 
login */
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    color: transparent;
}

input{
    text-decoration: none; 
    border: var(--royalBlue) solid 1px;
    color: #8495AF;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: normal; 
    width: 80%; 
    padding: 2%; 
    margin-top: 12px;
}


#btnCadastrar{
    width: 80%;
    height: 34px;
    cursor: pointer;
    border: 2px solid var(--royalBlue);
    border-radius: 8px;
    background-color: white;
    color: var(--royalBlue);
    font-size: 16px;
    transition: 0.4s ease;
}

.btnVoltar{
    display: flex;
    width: fit-content;
    position: fixed;
    top: 20%;
    left: 39%;
}

@media (max-width: 750px)  {
    
    body{
        align-items: end;
        justify-content: center;
        
    }
    
    main{
        max-width: 800px;    
        padding: 80px 60px; 
    }
    
    
}